[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox = "*"
mypy = "*"
aiohttp = "*"
pytest = "*"
coverage = "*"
pytest-asyncio = "*"
sanic = "*"
colorlog = "*"
sphinx = "*"
pylint = "*"
sphinx-rtd-theme = "*"

[packages]
aiokafka = "*"
avro-python3 = "*"
pyyaml = "*"
uvloop = "*"

[requires]
python_version = "3.7"
