[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox = "*"
mypy = "*"
aiohttp = "*"
pytest = "*"
coverage = "*"
pytest-asyncio = "*"
sanic = "*"
colorlog = "*"
sphinx = "*"
pylint = "*"
sphinx-rtd-theme = "*"

[packages]
aiokafka = ">=0.5.2"
avro-python3 = ">=1.9.0"
pyyaml = ">=5.1.1"
uvloop = ">=0.12.2"

[requires]
python_version = "3.7"
